body {
  background-image: url(/images/willian-justen-de-vasconcellos-_MMP5j_fCqw-unsplash.jpg?97ba5b227faf4fc470c6f40a5cd29d84);
  background-size: cover;
  background-position: center;
}

.content {
  color: #fff;
}

