@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css?family=Nunito:200,600");

body {
    background-image: url("../img/willian-justen-de-vasconcellos-_MMP5j_fCqw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    color: #636b6f;
}

.content {
    color: #fff;
}
